<app-header [showLogoutOption]="true"></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="main">
        <ion-icon aria-hidden="true" name="cube" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon aria-hidden="true" name="time" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/point/foodsaver/dashboard'">
        <ion-icon aria-hidden="true" name="add-circle" size="large"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
