<ion-card color="light">
  <ion-card-content>
    <ion-toolbar color="light">
      <ion-card-title>
        <div class="flex items-center gap-2">
          <img src="{{ category.icon_url }}" class="h-10 w-10" />
          {{ item.title }}
        </div>
      </ion-card-title>
      <ion-buttons slot="end">
        <ion-button color="secondary" size="large" (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Warehouse accordion -->
    <ion-accordion-group expand="inset" *ngIf="item?.first_name">
      <ion-accordion value="first" class="bg-light shadow-none text-tertiary">
        <ion-item id="accordion-item" slot="header" color="light">
          <ion-label class="px-2">Informationen</ion-label>
        </ion-item>
        <div class="w-full grid grid-cols-8 gap-2 px-4" slot="content">
          <div class="col-span-3 text-medium font-base">Kühlen:</div>
          <div class="col-span-5">
            {{ item ? (item.cool ? "Ja" : "Nein") : "" }}
          </div>
          <div class="col-span-3 text-medium font-base">Menge:</div>
          <div class="col-span-5">{{ item ? item.quantity : "" }} kg</div>
          <div class="col-span-3 text-medium font-base">Genießbar bis:</div>
          <div class="col-span-5">
            <div *ngIf="item?.created_at">
              {{ item ? (item.shelf_life | date : "dd.MM.yyyy") : "" }}
            </div>
            <div *ngIf="!item?.created_at">
              {{ item ? (item.shelf_life | date : "dd.MM.yyyy") : "" }}
            </div>
          </div>
          <div class="col-span-3 text-medium font-base">Gerettet von:</div>
          <div class="col-span-5">{{ origin ? origin.title : "" }}</div>
          <div class="col-span-3 text-medium font-base">Betrieb:</div>
          <div class="col-span-5">
            {{ item.origin ? item.origin : "-" }}
          </div>
          <div class="col-span-3 text-medium font-base">Inhaltsstoffe:</div>
          <div class="col-span-5 line-clamp-6">
            {{ item ? (item.allergens ? item.allergens : "-") : "" }}
          </div>
          <div class="col-span-3 text-medium font-base">Anmerkungen:</div>
          <div class="col-span-5 line-clamp-6">
            {{ item ? (item.comment ? item.comment : "-") : "" }}
          </div>
          <div
            [ngClass]="
              item.first_name
                ? 'col-span-8 border-t-2 border-medium border-opacity-25 w-full'
                : ''
            "
          ></div>
          <ng-container *ngIf="item.first_name">
            <div class="col-span-3 text-medium font-base">Geliefert von:</div>
            <div class="col-span-5">
              {{
                item
                  ? item.first_name && item.last_name
                    ? item.first_name + " " + item.last_name
                    : "-"
                  : ""
              }}
            </div>
            <div class="col-span-3 text-medium font-base">Email:</div>
            <div class="col-span-5">
              {{ item ? (item.email ? item.email : "-") : "" }}
            </div>
            <div class="col-span-3 text-medium font-base">Telefonnummer:</div>
            <div class="col-span-5 pb-2">
              {{ item ? (item.tel ? item.tel : "-") : "" }}
            </div>
          </ng-container>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Foodsaver form -->
    <div
      class="w-full grid grid-cols-8 gap-3 px-4 mt-2 text-tertiary"
      slot="content"
      *ngIf="!item?.first_name"
    >
      <div class="col-span-3 text-medium font-base">Kühlen:</div>
      <div class="col-span-5">{{ item.cool ? "Ja" : "Nein" }}</div>
      <div class="col-span-3 text-medium font-base">Menge:</div>
      <div class="col-span-5">{{ item.quantity }} kg</div>
      <div class="col-span-3 text-medium font-base">Genießbar bis:</div>
      <div class="col-span-5">
        <div *ngIf="item?.created_at">
          {{ item ? (item.shelf_life | date : "dd.MM.yyyy") : "" }}
        </div>
        <div *ngIf="!item?.created_at">
          {{ shelfLife[item.shelf_life] | date : "dd.MM.yyyy" }}
        </div>
      </div>
      <div class="col-span-3 text-medium font-base">Gerettet von:</div>
      <div class="col-span-5">{{ origin.title }}</div>
      <div class="col-span-3 text-medium font-base">Betrieb:</div>
      <div class="col-span-5">
        {{ item.origin ? item.origin : "-" }}
      </div>
      <div class="col-span-3 text-medium font-base">Inhaltsstoffe:</div>
      <div class="col-span-5">
        {{ item.allergens ? item.allergens : "-" }}
      </div>
      <div class="col-span-3 text-medium font-base">Anmerkungen:</div>
      <div class="col-span-5">
        {{ item.comment ? item.comment : "-" }}
      </div>
    </div>
    <div class="flex w-full h-full mt-4 gap-2" *ngIf="!item?.created_at">
      <ion-button
        (click)="deleteEntry()"
        color="danger"
        class="w-full h-[42px] text-base font-medium"
      >
        Entfernen
      </ion-button>
      <ion-button
        color="secondary"
        (click)="editEntry()"
        class="w-full h-[42px] text-base font-medium"
      >
        Bearbeiten
      </ion-button>
    </div>

    <!-- Warehouse form -->
    <form [formGroup]="formData" *ngIf="!item?.status_id && item.created_at">
      <div
        class="flex flex-col w-full h-full pt-4 gap-4 text-center border-t-2 border-medium border-opacity-50"
      >
        <div class="flex flex-col gap-2">
          <label class="font-medium text-medium">Menge (in kg)</label>
          <div
            class="flex gap-2 font-medium text-lg justify-center items-center text-tertiary"
          >
            <input
              formControlName="quantity"
              type="number"
              inputmode="number"
              min="0.1"
              max="{{ item.quantity }}"
              step="0.1"
              maxlength="3"
              value="{{ item.quantity }}"
              [ngClass]="
                quantity?.touched && quantity?.dirty && quantity?.invalid
                  ? 'ring-2 ring-danger focus:ring-danger'
                  : 'ring-0 focus:ring-secondary'
              "
            />
            / {{ item.quantity }} kg
          </div>
        </div>
        <div class="flex gap-2">
          <ion-button
            color="danger"
            class="w-full h-[42px] text-base font-medium"
            type="submit"
            [disabled]="formData.invalid"
            (click)="disposeEntry()"
          >
            Entsorgen
          </ion-button>
          <ion-button
            color="secondary"
            class="w-full h-[42px] text-base font-medium"
            type="submit"
            [disabled]="formData.invalid"
            (click)="distributeEntry()"
          >
            Fairteilen
          </ion-button>
        </div>
      </div>
    </form>
  </ion-card-content>
</ion-card>
