<div class="border-b-2 border-fill pt-2">
  <ion-item-sliding>
    <ion-item lines="none" (click)="setOpen()">
      <div
        class="w-full grid grid-cols-12 text-lg text-tertiary font-medium py-3 px-[8px] justify-center items-center ion-activatable"
      >
        <div class="col-span-3 flex items-center gap-2">
          <img
            src="{{ category ? category.icon_url : '' }}"
            class="h-10 w-10"
          />
          {{ item ? item.title : "" }}
        </div>
        <div class="col-span-3">{{ item ? item.quantity : "" }} kg</div>
        <div class="col-span-3 flex items-center gap-2">
          <div
            *ngIf="item?.created_at"
            [ngClass]="shelfLifeCheck ? 'text-danger' : 'text-tertiary'"
          >
            {{ item ? (item.shelf_life | date : "dd.MM.yyyy") : "" }}
          </div>
          <div *ngIf="!item?.created_at">
            {{ shelfLife[item.shelf_life] }}
          </div>
          <img
            *ngIf="item?.cool"
            src="../../../assets/icons/icon_freeze.svg"
            class="h-6 w-6"
          />
        </div>
        <div class="col-span-2">{{ origin ? origin.title : "" }}</div>
        <div class="col-span-1 flex justify-end">
          <img src="../../../assets/icons/icon_options.svg" class="h-10 w-10" />
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-item>
    <div *ngIf="!item?.created_at">
      <ion-item-options side="start" (ionSwipe)="deleteEntry()">
        <ion-item-option
          class="rounded-l-lg text-light"
          color="danger"
          expandable
          (click)="deleteEntry()"
        >
          Entfernen
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="editEntry()">
        <ion-item-option
          class="rounded-r-lg text-light"
          color="secondary"
          expandable
          (click)="editEntry()"
        >
          Bearbeiten
        </ion-item-option>
      </ion-item-options>
    </div>
    <div *ngIf="item?.created_at">
      <ion-item-options side="start" (ionSwipe)="disposeEntry()">
        <ion-item-option
          class="rounded-l-lg text-light"
          color="danger"
          expandable
          (click)="disposeEntry()"
        >
          Entsorgen
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="distributeEntry()">
        <ion-item-option
          class="rounded-r-lg text-light"
          color="secondary"
          expandable
          (click)="distributeEntry()"
        >
          Fairteilen
        </ion-item-option>
      </ion-item-options>
    </div>
  </ion-item-sliding>
</div>
